<!DOCTYPE html>
<div th:fragment="navbar">
    <nav class="navbar navbar-dark bg-success navbar-expand-sm">
        <a class="navbar-brand" th:href="@{/}">Main page</a>
        <a class="navbar-brand" th:href="@{/users}">CLIENTS</a>
        <a class="navbar-brand" th:href="@{/registration}">ADD CLIENT</a>
        <a class="navbar-brand" th:href="@{/books}">BOOKS</a>
        <a class="navbar-brand" th:href="@{/add}">ADD BOOK</a>
        <a class="navbar-brand" th:href="@{/debtors}">DEBTORS</a>
    </nav>
</div>

